[user]
	name = Jonathan Mesny
	email = jmesny@antidot.net
[core]
	autocrlf = input
	safecrlf = warn
	editor = vim
	excludesfile = /Users/jo/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	cp = cherry-pick
	br = branch
	lg = log --pretty=format:\"%C(yellow)%h%Creset %ad - %s%Cred%d%Creset %Cblue[%an]%Creset\" --date=short
	ls = !git lg --graph
	ll = !git lg --numstat
	fixnow = "!f() { git commit --fixup $1 && git rebase -i $1^; }; f"
[color]
	ui = true
[help]
	autocorrect = 1
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[grep]
	extendRegexp = true
[commit]
	template = /Users/jo/.stCommitMsg
[pull]
	rebase = true
[merge]
	ff = false
[rebase]
	autosquash = true
[remote "origin"]
	prune = true
