[user]
	name = Jonathan Mesny
	email = jmesny@antidot.net
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
	excludesfile = /Users/jo/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	cp = cherry-pick
	br = branch
	lg = log --pretty=format:\"%C(yellow)%h%Creset %ad - %s%Cred%d%Creset %Cblue[%an]%Creset\" --date=short
	ls = "!git lg --graph"
	ll = "!git lg --numstat"
[color]
	ui = true
[help]
	autocorrect = 1
[push]
	default = simple
[difftool "sourcetree"]
	cmd = /usr/local/bin/idea diff $REMOTE $BASE
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[grep]
	extendRegexp = true
[commit]
	template = /Users/jo/.stCommitMsg
[pull]
    rebase = true
[remote "origin"]
	prune = true
